{% extends "blog/base.html" %}
{% block content_left %}

<div class="post">
 <div class="postheader">
 </div>
 <div class="postcontent">
 <span class="date"> {% now "j F Y" %} </span>
 <h2>Selamat Datang di Avagata</h2>
   <p>
		Seluruh isi Situs ini sedang dalam pengerjaan yang serius. Harap Anda datang lain waktu
   </p>
 </div>
 
 <div class="postbottom">
 <ul class="postmeta">
 <li class="permalink"><a href="#"></a></li>
 <li class="category_link"><a href="#"></a></li>
 <li class="comments_link"><a href="#"></a></li>
 </ul>
 </div>
 </div>
 
 {% endblock %}
