{% extends "blog/base.html" %}
{% block content_left %}

{% for data in post.object_list %}
<div class="post">
 <div class="postheader">
 </div>
 <div class="postcontent">
 <span class="date"> {{ data.tgl_post|timesince }} yang lalu </span>
 <h2>{{ data.judul|title }}</h2>
   <p>
		{{ data.isi|truncatewords:100 }} 
		<a href="{% url post_blog_view data.id %}">Selanjutnya</a>
   </p>
 </div>
 
 <div class="postbottom">
 <ul class="postmeta">
 <li class="category_link"><a href="{% url kategori_blog_index data.kategori.id %}">{{ data.kategori }}</a></li>
 <li class="comments_link"><a href="#">Komentari</a></li>
 </ul>
 </div>
 </div>
 {% endfor %}
 
 <div class="pagination">
    <span class="step-links">
        {% if post.has_previous %}
            <a href="?halaman={{ post.previous_page_number }}">Sebelumnya</a>
        {% endif %}

        <span class="current">
            Halaman {{ post.number }} dari {{ post.paginator.num_pages }}.
        </span>

        {% if post.has_next %}
            <a href="?halaman={{ post.next_page_number }}">Berikutnya</a>
        {% endif %}
    </span>
</div>
 
 {% endblock %}
